In [57]:
import pandas as pd
import numpy as np
import os
laliga = pd.read_csv('/Users/srao/Documents/AIML/Project1/Laliga.csv')
type(laliga)
laliga

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,32,1934-35,2001-02,1
6,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,-,-,4,5,2,5,16,1929,1994-95,3
7,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,19,1929,2010-11,1
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,-,1,4,5,4,4,18,1939-40,2012-13,2
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,-,2,3,4,4,14,1932-33,2015-16,1
10,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,1,5,4,1,-,1,12,1941-42,2014-15,1
11,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,-,-,-,2,4,5,11,1939-40,2012-13,4
12,13,Valladolid,42,1471,1466,463,384,619,1767,2180,-,-,-,1,1,1,3,1948-49,2013-14,4
13,14,Racing Santander,44,1416,1428,453,336,639,1843,2368,-,1,1,2,-,1,5,1929,2011-12,2
14,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,-,1,1,2,2,1,7,1944-45,2015-16,2
15,16,Osasuna,37,1351,1318,426,327,565,1500,1834,-,-,-,2,2,2,6,1935-36,2016-17,4
16,17,Malaga,36,1314,1255,390,330,535,1421,1763,-,-,-,1,-,1,2,1949-50,2008-09,4
17,18,Oviedo,38,1174,1192,408,292,492,1642,1951,-,-,3,2,2,4,11,1933-34,2000-01,3
18,19,Mallorca,27,1148,988,333,256,399,1182,1371,-,-,2,-,2,1,5,1960-61,2012-13,3
19,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,-,1,1,1,1,1,5,1951-52,2015-16,2
20,21,Villarreal,17,970,646,266,172,208,892,789,-,1,1,2,3,2,9,1998-99,2013-14,2
21,22,Granada,23,667,742,218,175,349,819,1157,-,-,-,-,-,2,2,1941-42,2016-17,6
22,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,-,-,-,-,-,-,-,1977-78,2015-16,8
23,24,Elche,21,606,678,203,180,295,750,1022,-,-,-,-,1,1,2,1959-60,2014-15,5
24,25,Getafe,12,553,456,147,112,197,520,633,-,-,-,-,-,1,1,2004-05,2015-16,6
25,26,Hercules,20,538,628,184,149,295,716,1050,-,-,-,-,1,4,5,1935-36,2010-11,5
26,27,Tenerife,13,510,494,155,128,211,619,744,-,-,-,-,2,-,2,1961-62,2009-10,5
27,28,Murcia,18,445,586,145,143,298,607,992,-,-,-,-,-,-,-,1940-41,2007-08,11
28,29,Alaves,12,421,380,125,81,174,458,623,-,-,-,-,-,1,1,1930-31,2016-17,6
29,30,Levante,11,416,402,113,95,194,430,632,-,-,-,-,-,1,1,1963-64,2015-16,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31,32,Sabadell,14,353,426,129,95,202,492,720,-,-,-,1,1,-,2,1943-44,1987-88,4
32,33,Cadiz,12,343,448,104,127,217,393,662,-,-,-,-,-,-,-,1977-78,2005-06,12
33,34,Logrones,9,293,346,96,92,158,291,489,-,-,-,-,-,-,-,1987-88,1996-97,7
34,35,Castellon,11,285,334,103,79,152,419,588,-,-,-,1,2,-,3,1941-42,1990-91,4
35,36,Albacete,7,277,270,76,76,118,320,410,-,-,-,-,-,-,-,1991-92,2004-05,7
36,37,Almeria,6,242,228,62,56,110,244,366,-,-,-,-,-,-,-,2007-08,2014-15,8
37,38,Cordoba,9,230,282,82,63,137,285,430,-,-,-,-,1,-,1,1962-63,2014-15,5
38,39,Compostela,4,190,160,52,45,63,199,241,-,-,-,-,-,-,-,1994-95,1997-98,10
39,40,Recreativo,5,188,186,50,46,90,202,296,-,-,-,-,-,-,-,1978-79,2008-09,8
40,41,Burgos CF,6,168,204,59,50,95,216,310,-,-,-,-,-,-,-,1971-72,1979-80,12
41,42,Pontevedra,6,150,180,53,44,83,165,221,-,-,-,-,-,-,-,1963-64,1969-70,7
42,43,Numancia,4,148,152,37,37,78,155,253,-,-,-,-,-,-,-,1999-00,2008-09,17
43,44,Eibar,3,132,114,35,27,52,139,167,-,-,-,-,-,-,-,2014-15,2014-15,10
44,45,Arenas,7,107,130,43,21,66,227,308,-,-,1,-,3,-,4,1929,1934-35,3
45,46,Real Burgos,3,96,114,26,44,44,101,139,-,-,-,-,-,-,-,1990-91,1992-93,9
46,47,Gimnastic,4,91,116,34,16,66,181,295,-,-,-,-,-,-,-,1947-48,2006-07,7
47,48,Extremadura,2,83,80,20,23,37,62,117,-,-,-,-,-,-,-,1996-97,1998-99,17
48,49,Merida,2,81,80,19,24,37,70,115,-,-,-,-,-,-,-,1995-96,1997-98,19
49,50,Alcoyano,4,76,108,30,16,62,145,252,-,-,-,-,-,-,-,1945-46,1950-51,10
50,51,Jaen,3,71,90,29,13,48,121,183,-,-,-,-,-,-,-,1953-54,1957-58,14
51,52,Real Union,4,56,72,21,14,37,153,184,-,-,-,-,-,1,1,1929,1931-32,6
52,53,AD Almeria,2,52,68,17,18,33,71,116,-,-,-,-,-,-,-,1979-80,1980-81,10
53,54,Europa,3,42,54,18,6,30,97,131,-,-,-,-,-,-,-,1929,1930-31,8
54,55,Lleida,2,40,68,13,14,41,70,182,-,-,-,-,-,-,-,1950-51,1993-94,16
55,56,Leganes,1,35,38,8,11,19,36,55,-,-,-,-,-,-,-,2016-17,2016-17,17
56,57,Xerez,1,34,38,8,10,20,38,66,-,-,-,-,-,-,-,2009-10,2009-10,20
57,58,Condal,1,22,30,7,8,15,37,57,-,-,-,-,-,-,-,1956-57,1956-57,16
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,-,-,-,-,-,-,-,1951-52,1951-52,16
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,-,-,-,-,-,-,-,1955-56,1955-56,15
60,61,Girona,1,-,-,-,-,-,-,-,-,-,-,-,-,-,-,2017-18,2017-18,9

In [58]:
#Read the data set and replace dashes with 0 to make sure you can perform arithmetic operations on the data.
laliga.replace('-', 0,inplace=True)
laliga

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,32,1934-35,2001-02,1
6,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,0,0,4,5,2,5,16,1929,1994-95,3
7,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,19,1929,2010-11,1
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,0,1,4,5,4,4,18,1939-40,2012-13,2
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,0,2,3,4,4,14,1932-33,2015-16,1
10,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,1,5,4,1,0,1,12,1941-42,2014-15,1
11,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,0,0,0,2,4,5,11,1939-40,2012-13,4
12,13,Valladolid,42,1471,1466,463,384,619,1767,2180,0,0,0,1,1,1,3,1948-49,2013-14,4
13,14,Racing Santander,44,1416,1428,453,336,639,1843,2368,0,1,1,2,0,1,5,1929,2011-12,2
14,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,0,1,1,2,2,1,7,1944-45,2015-16,2
15,16,Osasuna,37,1351,1318,426,327,565,1500,1834,0,0,0,2,2,2,6,1935-36,2016-17,4
16,17,Malaga,36,1314,1255,390,330,535,1421,1763,0,0,0,1,0,1,2,1949-50,2008-09,4
17,18,Oviedo,38,1174,1192,408,292,492,1642,1951,0,0,3,2,2,4,11,1933-34,2000-01,3
18,19,Mallorca,27,1148,988,333,256,399,1182,1371,0,0,2,0,2,1,5,1960-61,2012-13,3
19,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,0,1,1,1,1,1,5,1951-52,2015-16,2
20,21,Villarreal,17,970,646,266,172,208,892,789,0,1,1,2,3,2,9,1998-99,2013-14,2
21,22,Granada,23,667,742,218,175,349,819,1157,0,0,0,0,0,2,2,1941-42,2016-17,6
22,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,0,0,0,0,0,0,0,1977-78,2015-16,8
23,24,Elche,21,606,678,203,180,295,750,1022,0,0,0,0,1,1,2,1959-60,2014-15,5
24,25,Getafe,12,553,456,147,112,197,520,633,0,0,0,0,0,1,1,2004-05,2015-16,6
25,26,Hercules,20,538,628,184,149,295,716,1050,0,0,0,0,1,4,5,1935-36,2010-11,5
26,27,Tenerife,13,510,494,155,128,211,619,744,0,0,0,0,2,0,2,1961-62,2009-10,5
27,28,Murcia,18,445,586,145,143,298,607,992,0,0,0,0,0,0,0,1940-41,2007-08,11
28,29,Alaves,12,421,380,125,81,174,458,623,0,0,0,0,0,1,1,1930-31,2016-17,6
29,30,Levante,11,416,402,113,95,194,430,632,0,0,0,0,0,1,1,1963-64,2015-16,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31,32,Sabadell,14,353,426,129,95,202,492,720,0,0,0,1,1,0,2,1943-44,1987-88,4
32,33,Cadiz,12,343,448,104,127,217,393,662,0,0,0,0,0,0,0,1977-78,2005-06,12
33,34,Logrones,9,293,346,96,92,158,291,489,0,0,0,0,0,0,0,1987-88,1996-97,7
34,35,Castellon,11,285,334,103,79,152,419,588,0,0,0,1,2,0,3,1941-42,1990-91,4
35,36,Albacete,7,277,270,76,76,118,320,410,0,0,0,0,0,0,0,1991-92,2004-05,7
36,37,Almeria,6,242,228,62,56,110,244,366,0,0,0,0,0,0,0,2007-08,2014-15,8
37,38,Cordoba,9,230,282,82,63,137,285,430,0,0,0,0,1,0,1,1962-63,2014-15,5
38,39,Compostela,4,190,160,52,45,63,199,241,0,0,0,0,0,0,0,1994-95,1997-98,10
39,40,Recreativo,5,188,186,50,46,90,202,296,0,0,0,0,0,0,0,1978-79,2008-09,8
40,41,Burgos CF,6,168,204,59,50,95,216,310,0,0,0,0,0,0,0,1971-72,1979-80,12
41,42,Pontevedra,6,150,180,53,44,83,165,221,0,0,0,0,0,0,0,1963-64,1969-70,7
42,43,Numancia,4,148,152,37,37,78,155,253,0,0,0,0,0,0,0,1999-00,2008-09,17
43,44,Eibar,3,132,114,35,27,52,139,167,0,0,0,0,0,0,0,2014-15,2014-15,10
44,45,Arenas,7,107,130,43,21,66,227,308,0,0,1,0,3,0,4,1929,1934-35,3
45,46,Real Burgos,3,96,114,26,44,44,101,139,0,0,0,0,0,0,0,1990-91,1992-93,9
46,47,Gimnastic,4,91,116,34,16,66,181,295,0,0,0,0,0,0,0,1947-48,2006-07,7
47,48,Extremadura,2,83,80,20,23,37,62,117,0,0,0,0,0,0,0,1996-97,1998-99,17
48,49,Merida,2,81,80,19,24,37,70,115,0,0,0,0,0,0,0,1995-96,1997-98,19
49,50,Alcoyano,4,76,108,30,16,62,145,252,0,0,0,0,0,0,0,1945-46,1950-51,10
50,51,Jaen,3,71,90,29,13,48,121,183,0,0,0,0,0,0,0,1953-54,1957-58,14
51,52,Real Union,4,56,72,21,14,37,153,184,0,0,0,0,0,1,1,1929,1931-32,6
52,53,AD Almeria,2,52,68,17,18,33,71,116,0,0,0,0,0,0,0,1979-80,1980-81,10
53,54,Europa,3,42,54,18,6,30,97,131,0,0,0,0,0,0,0,1929,1930-31,8
54,55,Lleida,2,40,68,13,14,41,70,182,0,0,0,0,0,0,0,1950-51,1993-94,16
55,56,Leganes,1,35,38,8,11,19,36,55,0,0,0,0,0,0,0,2016-17,2016-17,17
56,57,Xerez,1,34,38,8,10,20,38,66,0,0,0,0,0,0,0,2009-10,2009-10,20
57,58,Condal,1,22,30,7,8,15,37,57,0,0,0,0,0,0,0,1956-57,1956-57,16
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,0,0,0,0,0,0,0,1951-52,1951-52,16
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,0,0,0,0,0,0,0,1955-56,1955-56,15
60,61,Girona,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2017-18,2017-18,9

In [62]:
# Print all the teams which have started playing between 1930-1980

laliga[(laliga.Debut >= "1931-32") & (laliga.Debut <= "1979-80")]['Team']

3                Valencia
5                 Sevilla
8                Zaragoza
9              Real Betis
10    Deportivo La Coruna
11             Celta Vigo
12             Valladolid
14         Sporting Gijon
15                Osasuna
16                 Malaga
17                 Oviedo
18               Mallorca
19             Las Palmas
21                Granada
22         Rayo Vallecano
23                  Elche
25               Hercules
26               Tenerife
27                 Murcia
29                Levante
30              Salamanca
31               Sabadell
32                  Cadiz
34              Castellon
37                Cordoba
39             Recreativo
40              Burgos CF
41             Pontevedra
46              Gimnastic
49               Alcoyano
50                   Jaen
52             AD Almeria
54                 Lleida
57                 Condal
58        Atletico Tetuan
59       Cultural Leonesa
Name: Team, dtype: object

In [70]:
#Print the list of teams which came Top 5 in terms of points 
laliga = pd.read_csv('/Users/srao/Documents/AIML/Project1/Laliga.csv')
laliga.replace('-', 0,inplace=True)

laliga.head(5)['Team']

0        Real Madrid
1          Barcelona
2    Atletico Madrid
3           Valencia
4    Athletic Bilbao
Name: Team, dtype: object

In [93]:
#Write a function with name â€œGoal_diff_countâ€ which should return all the teams with their Goal Differences.
#Goal_diff_count = GoalsFor - GoalsAgainst
laliga = pd.read_csv('/Users/srao/Documents/AIML/Project1/Laliga.csv')
laliga.replace('-', 0,inplace=True)

def Goal_diff_count():  
    global laliga
    goal_diff_max = 0
    goal_diff_min = 0
    for column in laliga[['Team', 'GoalsFor', 'GoalsAgainst']]:
        columnSeriesObj = laliga[column]
        if column == 'GoalsFor':
            columnSeriesGoalsFor = laliga[column]
        elif column == 'GoalsAgainst':
            columnSeriesGoalsAgainst = laliga[column]
        else:
            columnSeriesTeam = laliga[column]
    print('The List of GoalsFor : ', columnSeriesGoalsFor.values)
    print('\n')
    print('The List of GoalsAgainst : ', columnSeriesGoalsAgainst.values)
    print('\n')
    print('The List of Teams : ', columnSeriesTeam.values)
    print('\n')
    # Now Iterate over the individual GoalsFor and GoalsAgainst columns and find diff
    for (a, b, c) in zip(columnSeriesGoalsFor.values, columnSeriesGoalsAgainst.values, columnSeriesTeam.values):
        goal_diff = int(a) - int(b)
        print('The Goal Diff count for Team %s is %s' %(c, goal_diff))
        if goal_diff >= goal_diff_max:
            goal_diff_max = goal_diff
        elif goal_diff < goal_diff_min:
            goal_diff_min = goal_diff
    print('\n')        
    print('The max goal diff is %s' %goal_diff_max)
    print('The min goal diff is %s' %goal_diff_min)

Goal_diff_count()

The List of GoalsFor :  ['5947' '5900' '4534' '4398' '4631' '3680' '3609' '3228' '2683' '2159'
 '2052' '2278' '1767' '1843' '1753' '1500' '1421' '1642' '1182' '1347'
 '892' '819' '760' '750' '520' '716' '619' '607' '458' '430' '422' '492'
 '393' '291' '419' '320' '244' '285' '199' '202' '216' '165' '155' '139'
 '227' '101' '181' '62' '70' '145' '121' '153' '71' '97' '70' '36' '38'
 '37' '51' '34' 0]


The List of GoalsAgainst :  ['3140' '3114' '3309' '3469' '3700' '3373' '3889' '3230' '2847' '2492'
 '2188' '2624' '2180' '2368' '2152' '1834' '1763' '1951' '1371' '1746'
 '789' '1157' '1088' '1022' '633' '1050' '744' '992' '623' '632' '581'
 '720' '662' '489' '588' '410' '366' '430' '241' '296' '310' '221' '253'
 '167' '308' '139' '295' '117' '115' '252' '183' '184' '116' '131' '182'
 '55' '66' '57' '85' '65' 0]


The List of Teams :  ['Real Madrid' 'Barcelona' 'Atletico Madrid' 'Valencia' 'Athletic Bilbao'
 'Sevilla' 'Espanyol' 'Real Sociedad' 'Zaragoza' 'Real Betis'
 'Deportivo La Coruna' 'Celta Vigo' 'Valladolid' 'Racing Santander'
 'Sporting Gijon' 'Osasuna' 'Malaga' 'Oviedo' 'Mallorca' 'Las Palmas'
 'Villarreal' 'Granada' 'Rayo Vallecano' 'Elche' 'Getafe' 'Hercules'
 'Tenerife' 'Murcia' 'Alaves' 'Levante' 'Salamanca' 'Sabadell' 'Cadiz'
 'Logrones' 'Castellon' 'Albacete' 'Almeria' 'Cordoba' 'Compostela'
 'Recreativo' 'Burgos CF' 'Pontevedra' 'Numancia' 'Eibar' 'Arenas'
 'Real Burgos' 'Gimnastic' 'Extremadura' 'Merida' 'Alcoyano' 'Jaen'
 'Real Union' 'AD Almeria' 'Europa' 'Lleida' 'Leganes' 'Xerez' 'Condal'
 'Atletico Tetuan' 'Cultural Leonesa' 'Girona']


The Goal Diff count for Team Real Madrid is 2807
The Goal Diff count for Team Barcelona is 2786
The Goal Diff count for Team Atletico Madrid is 1225
The Goal Diff count for Team Valencia is 929
The Goal Diff count for Team Athletic Bilbao is 931
The Goal Diff count for Team Sevilla is 307
The Goal Diff count for Team Espanyol is -280
The Goal Diff count for Team Real Sociedad is -2
The Goal Diff count for Team Zaragoza is -164
The Goal Diff count for Team Real Betis is -333
The Goal Diff count for Team Deportivo La Coruna is -136
The Goal Diff count for Team Celta Vigo is -346
The Goal Diff count for Team Valladolid is -413
The Goal Diff count for Team Racing Santander is -525
The Goal Diff count for Team Sporting Gijon is -399
The Goal Diff count for Team Osasuna is -334
The Goal Diff count for Team Malaga is -342
The Goal Diff count for Team Oviedo is -309
The Goal Diff count for Team Mallorca is -189
The Goal Diff count for Team Las Palmas is -399
The Goal Diff count for Team Villarreal is 103
The Goal Diff count for Team Granada is -338
The Goal Diff count for Team Rayo Vallecano is -328
The Goal Diff count for Team Elche is -272
The Goal Diff count for Team Getafe is -113
The Goal Diff count for Team Hercules is -334
The Goal Diff count for Team Tenerife is -125
The Goal Diff count for Team Murcia is -385
The Goal Diff count for Team Alaves is -165
The Goal Diff count for Team Levante is -202
The Goal Diff count for Team Salamanca is -159
The Goal Diff count for Team Sabadell is -228
The Goal Diff count for Team Cadiz is -269
The Goal Diff count for Team Logrones is -198
The Goal Diff count for Team Castellon is -169
The Goal Diff count for Team Albacete is -90
The Goal Diff count for Team Almeria is -122
The Goal Diff count for Team Cordoba is -145
The Goal Diff count for Team Compostela is -42
The Goal Diff count for Team Recreativo is -94
The Goal Diff count for Team Burgos CF is -94
The Goal Diff count for Team Pontevedra is -56
The Goal Diff count for Team Numancia is -98
The Goal Diff count for Team Eibar is -28
The Goal Diff count for Team Arenas is -81
The Goal Diff count for Team Real Burgos is -38
The Goal Diff count for Team Gimnastic is -114
The Goal Diff count for Team Extremadura is -55
The Goal Diff count for Team Merida is -45
The Goal Diff count for Team Alcoyano is -107
The Goal Diff count for Team Jaen is -62
The Goal Diff count for Team Real Union is -31
The Goal Diff count for Team AD Almeria is -45
The Goal Diff count for Team Europa is -34
The Goal Diff count for Team Lleida is -112
The Goal Diff count for Team Leganes is -19
The Goal Diff count for Team Xerez is -28
The Goal Diff count for Team Condal is -20
The Goal Diff count for Team Atletico Tetuan is -34
The Goal Diff count for Team Cultural Leonesa is -31
The Goal Diff count for Team Girona is 0


The max goal diff is 2807
The min goal diff is -525

In [106]:
# Create a new column with name â€œWinning Percentâ€ and append it to the data set 
# Percentage of Winning = (GamesWon / GamesPlayed)*100

laliga = pd.read_csv('/Users/srao/Documents/AIML/Project1/Laliga.csv')
laliga.replace('-', 0,inplace=True)

def winning_chance():  
    global laliga
    list_Winning_chance = []
    for column in laliga[['Team', 'GamesWon', 'GamesPlayed']]:
        columnSeriesObj = laliga[column]
        if column == 'GamesWon':
            columnSeriesGamesWon = laliga[column]
        elif column == 'GamesPlayed':
            columnSeriesGamesPlayed = laliga[column]
        else:
            columnSeriesTeam = laliga[column]
        
    print('The List of GamesWon : ', columnSeriesGamesWon.values)
    print('\n')
    print('The List of GamesPlayed : ', columnSeriesGamesPlayed.values)
    print('\n')
    print('The List of Teams : ', columnSeriesTeam.values)
    print('\n')
    
    
    # Now Iterate over the individual GoalsFor and GoalsAgainst columns and find diff
    for (a, b, c) in zip(columnSeriesGamesWon.values, columnSeriesGamesPlayed.values, columnSeriesTeam.values):
        if b == 0:
            winning_percent = 0
        else:
            winning_percent = int(a)/int(b)*100
        list_Winning_chance.append(winning_percent)
        print('The Percent of Winning of Team %s is %s' %(c, winning_percent))
        
    print(list_Winning_chance)
    laliga['WinningChance'] = list_Winning_chance
    print(laliga)
    
winning_chance()

The List of GamesWon :  ['1647' '1581' '1241' '1187' '1209' '990' '948' '864' '698' '606' '563'
 '586' '463' '453' '471' '426' '390' '408' '333' '367' '266' '218' '189'
 '203' '147' '184' '155' '145' '125' '113' '123' '129' '104' '96' '103'
 '76' '62' '82' '52' '50' '59' '53' '37' '35' '43' '26' '34' '20' '19'
 '30' '29' '21' '17' '18' '13' '8' '8' '7' '7' '5' 0]


The List of GamesPlayed :  ['2762' '2762' '2614' '2664' '2762' '2408' '2626' '2302' '1986' '1728'
 '1530' '1698' '1466' '1428' '1458' '1318' '1255' '1192' '988' '1096'
 '646' '742' '652' '678' '456' '628' '494' '586' '380' '402' '423' '426'
 '448' '346' '334' '270' '228' '282' '160' '186' '204' '180' '152' '114'
 '130' '114' '116' '80' '80' '108' '90' '72' '68' '54' '68' '38' '38' '30'
 '30' '30' 0]


The List of Teams :  ['Real Madrid' 'Barcelona' 'Atletico Madrid' 'Valencia' 'Athletic Bilbao'
 'Sevilla' 'Espanyol' 'Real Sociedad' 'Zaragoza' 'Real Betis'
 'Deportivo La Coruna' 'Celta Vigo' 'Valladolid' 'Racing Santander'
 'Sporting Gijon' 'Osasuna' 'Malaga' 'Oviedo' 'Mallorca' 'Las Palmas'
 'Villarreal' 'Granada' 'Rayo Vallecano' 'Elche' 'Getafe' 'Hercules'
 'Tenerife' 'Murcia' 'Alaves' 'Levante' 'Salamanca' 'Sabadell' 'Cadiz'
 'Logrones' 'Castellon' 'Albacete' 'Almeria' 'Cordoba' 'Compostela'
 'Recreativo' 'Burgos CF' 'Pontevedra' 'Numancia' 'Eibar' 'Arenas'
 'Real Burgos' 'Gimnastic' 'Extremadura' 'Merida' 'Alcoyano' 'Jaen'
 'Real Union' 'AD Almeria' 'Europa' 'Lleida' 'Leganes' 'Xerez' 'Condal'
 'Atletico Tetuan' 'Cultural Leonesa' 'Girona']


The Percent of Winning of Team Real Madrid is 59.630702389572775
The Percent of Winning of Team Barcelona is 57.241129616220135
The Percent of Winning of Team Atletico Madrid is 47.47513389441469
The Percent of Winning of Team Valencia is 44.55705705705706
The Percent of Winning of Team Athletic Bilbao is 43.77262853005069
The Percent of Winning of Team Sevilla is 41.11295681063123
The Percent of Winning of Team Espanyol is 36.1005331302361
The Percent of Winning of Team Real Sociedad is 37.532580364900085
The Percent of Winning of Team Zaragoza is 35.146022155085596
The Percent of Winning of Team Real Betis is 35.06944444444444
The Percent of Winning of Team Deportivo La Coruna is 36.79738562091504
The Percent of Winning of Team Celta Vigo is 34.51118963486455
The Percent of Winning of Team Valladolid is 31.582537517053204
The Percent of Winning of Team Racing Santander is 31.72268907563025
The Percent of Winning of Team Sporting Gijon is 32.30452674897119
The Percent of Winning of Team Osasuna is 32.32169954476479
The Percent of Winning of Team Malaga is 31.07569721115538
The Percent of Winning of Team Oviedo is 34.22818791946309
The Percent of Winning of Team Mallorca is 33.70445344129555
The Percent of Winning of Team Las Palmas is 33.48540145985402
The Percent of Winning of Team Villarreal is 41.17647058823529
The Percent of Winning of Team Granada is 29.380053908355798
The Percent of Winning of Team Rayo Vallecano is 28.987730061349694
The Percent of Winning of Team Elche is 29.941002949852507
The Percent of Winning of Team Getafe is 32.23684210526316
The Percent of Winning of Team Hercules is 29.29936305732484
The Percent of Winning of Team Tenerife is 31.376518218623485
The Percent of Winning of Team Murcia is 24.744027303754265
The Percent of Winning of Team Alaves is 32.89473684210527
The Percent of Winning of Team Levante is 28.109452736318406
The Percent of Winning of Team Salamanca is 29.078014184397162
The Percent of Winning of Team Sabadell is 30.28169014084507
The Percent of Winning of Team Cadiz is 23.214285714285715
The Percent of Winning of Team Logrones is 27.74566473988439
The Percent of Winning of Team Castellon is 30.83832335329341
The Percent of Winning of Team Albacete is 28.14814814814815
The Percent of Winning of Team Almeria is 27.192982456140353
The Percent of Winning of Team Cordoba is 29.078014184397162
The Percent of Winning of Team Compostela is 32.5
The Percent of Winning of Team Recreativo is 26.881720430107524
The Percent of Winning of Team Burgos CF is 28.921568627450984
The Percent of Winning of Team Pontevedra is 29.444444444444446
The Percent of Winning of Team Numancia is 24.342105263157894
The Percent of Winning of Team Eibar is 30.701754385964914
The Percent of Winning of Team Arenas is 33.07692307692307
The Percent of Winning of Team Real Burgos is 22.807017543859647
The Percent of Winning of Team Gimnastic is 29.310344827586203
The Percent of Winning of Team Extremadura is 25.0
The Percent of Winning of Team Merida is 23.75
The Percent of Winning of Team Alcoyano is 27.77777777777778
The Percent of Winning of Team Jaen is 32.22222222222222
The Percent of Winning of Team Real Union is 29.166666666666668
The Percent of Winning of Team AD Almeria is 25.0
The Percent of Winning of Team Europa is 33.33333333333333
The Percent of Winning of Team Lleida is 19.11764705882353
The Percent of Winning of Team Leganes is 21.052631578947366
The Percent of Winning of Team Xerez is 21.052631578947366
The Percent of Winning of Team Condal is 23.333333333333332
The Percent of Winning of Team Atletico Tetuan is 23.333333333333332
The Percent of Winning of Team Cultural Leonesa is 16.666666666666664
The Percent of Winning of Team Girona is 0
[59.630702389572775, 57.241129616220135, 47.47513389441469, 44.55705705705706, 43.77262853005069, 41.11295681063123, 36.1005331302361, 37.532580364900085, 35.146022155085596, 35.06944444444444, 36.79738562091504, 34.51118963486455, 31.582537517053204, 31.72268907563025, 32.30452674897119, 32.32169954476479, 31.07569721115538, 34.22818791946309, 33.70445344129555, 33.48540145985402, 41.17647058823529, 29.380053908355798, 28.987730061349694, 29.941002949852507, 32.23684210526316, 29.29936305732484, 31.376518218623485, 24.744027303754265, 32.89473684210527, 28.109452736318406, 29.078014184397162, 30.28169014084507, 23.214285714285715, 27.74566473988439, 30.83832335329341, 28.14814814814815, 27.192982456140353, 29.078014184397162, 32.5, 26.881720430107524, 28.921568627450984, 29.444444444444446, 24.342105263157894, 30.701754385964914, 33.07692307692307, 22.807017543859647, 29.310344827586203, 25.0, 23.75, 27.77777777777778, 32.22222222222222, 29.166666666666668, 25.0, 33.33333333333333, 19.11764705882353, 21.052631578947366, 21.052631578947366, 23.333333333333332, 23.333333333333332, 16.666666666666664, 0]